h1{
    display: flex;
    justify-content: center;
}

.b {
    display: flex;
    gap: 20px;
    padding: 100px;
    color: white;
    padding: 20px;
    width: 200px;
    height: 200px; 
}

.a1,.a2,.a3,.a4,.a5{
    display: flex;
    text-align: center;
    column-width: 50px;
    height: max-content;
    color: white;
    background-color: rgb(55, 159, 81);
}
