

/* Basic styles for larger screens */
form {
  max-width: 600px;
  margin: 0 auto;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
  input, textarea, button {
    width: 100%;
    padding: 15px;
  }
}

input[type="radio"], input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
}
input[type="radio"]:checked, input[type="checkbox"]:checked {
  background-color: #4CAF50;
}
div{
    border-style: solid;
    display: grid;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}
